@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}

.rt-BaseButton:where(.rt-variant-solid) {
  background-color: var(--accent-9) !important;
}

@layer base {
  body {
    @apply bg-gradient-to-b from-transparent to-teal-50
  }
}

@layer utilities {
  .nav-link {
    @apply text-gray-500 hover:text-gray-800 transition-colors me-5 hidden xs:list-item
  }
}
